/*v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


@media screen and (max-width: 400px){
    .mob-0 {display: none;}
    .mob-1{width: 8.33%;}
    .mob-2{width: 16.66%;}
    .mob-3{width: 25%;}
    .mob-4{width: 33.33%;}
    .mob-5{width: 41.66%;}
    .mob-6{width: 50%;}
    .mob-7{width: 58.33%;}
    .mob-8{width: 66.66%;}
    .mob-9{width: 75%;}
    .mob-10{width: 83.33%;}
    .mob-11{width: 91.66%;}
    .mob-12{width: 100%;}

    .mob-offset-1{margin-left: 8.33%;}
    .mob-offset-2{margin-left: 16.66%;}
    .mob-offset-3{margin-left: 25%;}
    .mob-offset-4{margin-left: 33.33%;}
    .mob-offset-5{margin-left: 41.66%;}
    .mob-offset-6{margin-left: 50%;}
    .mob-offset-7{margin-left: 58.33%;}
    .mob-offset-8{margin-left: 66.66%;}
    .mob-offset-9{margin-left: 75%;}
    .mob-offset-10{margin-left: 83.33%;}
    .mob-offset-11{margin-left: 91.66%;}
    .mob-offset-12{margin-left: 100%;}
}

/**
* Les classes contenues dans cette media query ne seront appliquées 
* qu'à condition que la largeur de l'écran soit comprise entre 401px et 1023px inclus.
**/
@media screen and (min-width: 401px) and (max-width: 1023px){
    .tab-0 {display: none;}
    .tab-1{width: 8.33%;}
    .tab-2{width: 16.66%;}
    .tab-3{width: 25%;}
    .tab-4{width: 33.33%;}
    .tab-5{width: 41.66%;}
    .tab-6{width: 50%;}
    .tab-7{width: 58.33%;}
    .tab-8{width: 66.66%;}
    .tab-9{width: 75%;}
    .tab-10{width: 83.33%;}
    .tab-11{width: 91.66%;}
    .tab-12{width: 100%;}

    .tab-offset-1{margin-left: 8.33%;}
    .tab-offset-2{margin-left: 16.66%;}
    .tab-offset-3{margin-left: 25%;}
    .tab-offset-4{margin-left: 33.33%;}
    .tab-offset-5{margin-left: 41.66%;}
    .tab-offset-6{margin-left: 50%;}
    .tab-offset-7{margin-left: 58.33%;}
    .tab-offset-8{margin-left: 66.66%;}
    .tab-offset-9{margin-left: 75%;}
    .tab-offset-10{margin-left: 83.33%;}
    .tab-offset-11{margin-left: 91.66%;}
    .tab-offset-12{margin-left: 100%;}
}

/**
* Les classes contenues dans cette media query ne seront appliquées 
* qu'à condition que l'écran possède une largeur minimale de 1024px.
**/
@media screen and (min-width: 1024px) {
    .dsk-0 {display: none;}
    .dsk-1{width: 8.33%;}
    .dsk-2{width: 16.66%;}
    .dsk-3{width: 25%;}
    .dsk-4{width: 33.33%;}
    .dsk-5{width: 41.66%;}
    .dsk-6{width: 50%;}
    .dsk-7{width: 58.33%;}
    .dsk-8{width: 66.66%;}
    .dsk-9{width: 75%;}
    .dsk-10{width: 83.33%;}
    .dsk-11{width: 91.66%;}
    .dsk-12{width: 100%;}

    .dsk-offset-1{margin-left: 8.33%;}
    .dsk-offset-2{margin-left: 16.66%;}
    .dsk-offset-3{margin-left: 25%;}
    .dsk-offset-4{margin-left: 33.33%;}
    .dsk-offset-5{margin-left: 41.66%;}
    .dsk-offset-6{margin-left: 50%;}
    .dsk-offset-7{margin-left: 58.33%;}
    .dsk-offset-8{margin-left: 66.66%;}
    .dsk-offset-9{margin-left: 75%;}
    .dsk-offset-10{margin-left: 83.33%;}
    .dsk-offset-11{margin-left: 91.66%;}
    .dsk-offset-12{margin-left: 100%;}
}

.identity {
    background-image: url("https://apod.nasa.gov/apod/image/1910/MilkyWaySaltFlat_Huerta_960.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 2px solid black; 
}
.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color : white;
    align-items: center;
    text-align: center;
}
.imghead {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}
.title1 {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    border: 1px solid black;
}
.indoor {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.theme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.stone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgstone {
    display: flex;
    width: 35%;
    height: 65%;
    border-radius: 5%;
}
.planet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgplanet {
    display: flex;
    width: 35%;
    height: 65%;
    border-radius: 5%;
}
.element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgelement{
    display: flex;
    width: 35%;
    height: 65%;
    border-radius: 5%;
}
.title2 {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
}
h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;
    text-decoration: underline;  
}
.sign, .planet2, .stone2, .element2 {     
    box-shadow: 5px 5px 5px 5px rgb(253, 253, 253);
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    color: white;
    box-shadow: 5px 5px 5px 5px rgb(253, 253, 253);
}
hr {
    border: 1px solid black;
}
.about {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    
}