/* changer le margin-top  -98 en -85*/
.bigContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    /* margin-top: -64px; */
    margin-top: -85px;
    height: 150px;
    width: 150px;
}

.logo_menu{
    display:flex;
    justify-items:center;
    flex-direction: column;
    justify-content: center;
    z-index:4;
    align-items:center;
    height:185px;
    margin-left: 845px;
}

.img_menu {
    height:180px;
    width:180px;
    margin: auto; 
}
/* Ajout du maring-top   */
.menucontainer{
    margin:0rem auto 0 auto;
    margin-top: -0.5rem;
    background-image: url("/img/test6.svg");
    height: 11vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display:flex;
    position:absolute;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    z-index:4;
    top: 145px;
    opacity:0;
    animation-duration: 1s;
    animation-name: fadeInFromNone;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadeInFromNone;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-duration: 1s;
    -ms-animation-name: fadeInFromNoneIE;
    -ms-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeInFromNoneIE {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.itemscontainer_1{
    height:3.5em;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.itemscontainer_2{
    
    height:4em;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#NavLink-1, #NavLink-2 {
    font-size:1.2vw; 
    text-decoration:none;
    color: #72cdfa;
    font-weight: 900;
}

#NavLink-2{
     font-size:1.2vw; 
    width:25%;
}

#NavLink-3 {
     font-size:1.2vw; 
    margin-left: 1.5em;
    text-decoration:none;
    color: #72cdfa;
    font-weight: 900;
}

#NavLink-4 {
     font-size:1.2vw; 
    margin-right: 3.5em;
    text-decoration:none;
    color: #72cdfa;
    font-weight: 900;
} 

@media screen and (min-width: 992px) {
    .dsk-0{display: none;}
    .dsk-1{width: 8.33%;}
    .dsk-2{width: 16.66%;}
    .dsk-3{width: 25%;}
    .dsk-4{width: 33.33%;}
    .dsk-5{width: 41.66%;}
    .dsk-6{width: 50%;}
    .dsk-7{width: 58.33%;}
    .dsk-8{width: 66.66%;}
    .dsk-9{width: 75%;}
    .dsk-10{width: 83.33%;}
    .dsk-11{width: 91.66%;}
    .dsk-12{width: 100%;}
}

@media screen and (max-width: 500px) {
    .mob-0{display: none;}
    .mob-1{width: 8.33%;}
    .mob-2{width: 16.66%;}
    .mob-3{width: 25%;}
    .mob-4{width: 33.33%;}
    .mob-5{width: 41.66%;}
    .mob-6{width: 50%;}
    .mob-7{width: 58.33%;}
    .mob-8{width: 66.66%;}
    .mob-9{width: 75%;}
    .mob-10{width: 83.33%;}
    .mob-11{width: 91.66%;}
    .mob-12{width: 100%;}

    .menucontainer{
        background-image: url("/img/test6.svg");
        height: 24vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display:none;
        position:absolute;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        z-index:4;
        top: 84px;
    }
    


    .itemscontainer_1{
        height:2.5em;
        width:75vw;
        display:flex;
        justify-content:space-between;
        align-items:center;       
    }
    
    .itemscontainer_2{
        height:3.2em;
        width:75vw;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    
    #NavLink-1, #NavLink-2 {
        font-size:0.8em;
        text-decoration:none;
        color: #72cdfa;
        font-weight: 500;
    }

    #NavLink-2{
        font-size:0.8em;
        width:25%;
    }

    #NavLink-3 {
        font-size:0.8em;
        margin-left: 1em;
        text-decoration:none;
        color: #72cdfa;
        font-weight: 500;
    }    
    
    #NavLink-4 {
        font-size:0.8em;
        margin-right: 13vw;
        text-decoration:none;
        color: #72cdfa;
        font-weight: 500;
    } 

}



@media screen and (min-width: 501px) and (max-width: 991px) {
    .tab-0{display: none;}
    .tab-1{width: 8.33%;}
    .tab-2{width: 16.66%;}
    .tab-3{width: 25%;}
    .tab-4{width: 33.33%;}
    .tab-5{width: 41.66%;}
    .tab-6{width: 50%;}
    .tab-7{width: 58.33%;}
    .tab-8{width: 66.66%;}
    .tab-9{width: 75%;}
    .tab-10{width: 83.33%;}
    .tab-11{width: 91.66%;}
    .tab-12{width: 100%;}

    .menucontainer{
        margin:0rem auto 0 auto;
        background-image: url("/img/test6.svg");
        height: 18vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display:none;
        position:absolute;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        z-index:4;
        top:79px;
    }

    .itemscontainer_1{    
        height:8.0vw;
        width:53vw;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    
    .itemscontainer_2{        
        height:8.0vw;
        width:53vw;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    
    #NavLink-1, #NavLink-2 {
        
        font-size:2.3vw;
        text-decoration:none;
        color: #72cdfa;
        font-weight: 600;
    }

    #NavLink-2{
        font-size:2.3vw;
        width:25%;
        margin-left:5em;
        
    }
    #NavLink-3 {
        font-size:2.4vw;
        margin-left: 3vw;
        text-decoration:none;
        color: #72cdfa;
        font-weight: 600;
    }
    
    #NavLink-4 {
        font-size:2.4vw;
        text-decoration:none;
        color: #72cdfa;
        font-weight: 600;
    } 

    
}