<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="./Erreur404.css">
    <title>Document</title>
</head>
<body>
        <div class="earth"></div>
        <div class="earth-shadow"></div>
        <div id="erreura">404.  That's an error.</div>
        <div id="erreurb">The request URL/404 was not found on this server.</div>
        <div id="erreurc">That's all we know</div>
        <div class="ground-shadow"></div> 
</body>
</html>