html,body {
    height:100%;
    min-height:100%;
  }
  
  body {
    background: url(../img/stars_dzyjfk.jpg);
    background-position:0 0;
    background-size:2000px auto;
    animation:backgroundCrawl 50s linear infinite;
  }
#erreura{
text-align: center;
/* changer police, couleur et taille */
font-family:'MinalisDemo-o73B' ;
font-size: 3rem;
color:#72cdfa ;
}
#erreurb{
text-align: center;
padding-top: 50px;
/* changer police, couleur et taille */
font-family:'MinalisDemo-o73B' ;
font-size: 2.8rem;
color:#72cdfa;
}
#erreurc{
text-align: center;
padding-top: 50px;
/* changer police, couleur et taille */
font-family:'MinalisDemo-o73B' ;
font-size: 3rem;
color:#72cdfa ;
}
  .earth {
    width:125px;
    height:125px;
    margin:250px auto 0 auto;
    border-radius:100%;
    background: url(../img/earthmap.jpg) 0 0 repeat;
    background-size:cover;
    position:relative;
    animation:earthBounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) alternate infinite, slowSpin 6s linear infinite, earthRotate 12s linear infinite;
    z-index:1;
  }
  .earth-shadow {
    width:125px;
    height:125px;
    margin:250px auto 0 auto;
    border-radius:100%;
    box-shadow:0 0 60px 0 rgba(#0085ff,.6);
    background-image:linear-gradient( transparent,rgba(black,.9)), radial-gradient(circle at top, transparent 0, rgba(white,.09) 90px, transparent 90px, transparent);
    position:absolute;
    animation:earthBounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) alternate infinite;
    left:50%;
    margin-left:-62.5px;
    z-index:1;
  }
  .ground-shadow {
    margin:-10px auto 0;
    width:100px;
    height:20px;
    background:rgba(0,0,0,.1);
    border-radius:100%;
    animation: shadow .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    position:relative;
    z-index:0;
  }
  @keyframes earthBounce {
    0% {
      top:0;
    }
    100% {
      top:-200px;
    }
  }
  @keyframes shadow {
  0% {
      transform: scale(.5);
    background-color:rgba(0,0,0,.2);
      }
  100% {
      transform: scale(1.1);
    background-color:rgba(0,0,0,.05);
      }
  }
  @keyframes slowSpin {
    0% {
      transform:rotate(0);
    }
    100% {
      transform:rotate(360deg);
    }
  }
  @keyframes backgroundCrawl {
    0% {
      background-position:0 0;
    }
    100%{
      background-position:-2000px 0;
    }
  }
  @keyframes earthRotate {
    0% {
      background-position:0 0;
    }
    100%{
      background-position:-500px 0;
    }
  }