*{
  cursor: url('Stellaris-Move-a.cur'), text;  
}

body{
  cursor: url('Stellaris-horizontal.cur'), default; 
}

.info {
  font-family: monospace;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}